.section--subheading__technologies {
    margin-top: 500px;
}

.technology--container {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 50px
}

.technology--title {
    background-color: #50C8CF;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    display: inline-block;
}

.technology--tiles {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 15px;
}

