@import "../css/animations.css";
#section--hero {
  height: 100vh;
  background-color: #1E2023;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section--hero__main {
  height: 70vh;
  color: #FEFFFE;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section--hero__text {
  border-left: #50C8CF solid 10px;
}

#section--hero__text h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  font-weight: 300;
}

#container--scroller {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FEFFFE;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}