
/* Colour Palette 
Black - #1E2023
Bluish Black - #161B22
White - #FEFFFE
Pink - #FE206F
Cyan - #50C8CF
Light Grey - #DEDEDF
*/

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
  }
  
  body,
  html {
    margin: 0;
    min-height: 100vh;
    
  }
  
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
    color: #FEFFFE;
  }
  
  .text--big {
    font-size: 128px;
  }
  
  .color--cyan {
    color: #50C8CF ;
  }
  
  .color--pink {
    color: #FE206F ;
  }

  /* Sections */

  .section--title {
    text-align: center;
    padding: 50px;
  }

  #section--about {
    
  }

  /* Components */
  
  .imageanddesc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .imageanddesc--image {
    width: auto;
  }

  .imageanddesc--heading {
    border-left: #FE206F solid 5px;
    padding-left: 10px;
  }
