
/* Colour Palette 
Black - #1E2023
Bluish Black - #161B22
White - #FEFFFE
Pink - #FE206F
Cyan - #50C8CF
Light Grey - #DEDEDF
*/

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
  }
  
  body,
  html {
    margin: 0;
    min-height: 100vh;
    
  }
  
  h1 {
    font-size: 50px;
  }

  h3 {
    padding-bottom: 20px;
  }

  p {
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
    color: #FEFFFE;
  }

  .text__center {
    text-align: center;
  }
  
  .color__cyan {
    color: #50C8CF ;
  }
  
  .color__pink {
    color: #FE206F ;
  }

  /* Sections */

  .section {
    padding-top: 100px;
  }

  .section--container {
    padding-top: 50px;
}

  .section--title {
    text-align: center;
    padding-top: 50px;
  }

  .section--subheading {
    border-left: #FE206F solid 5px;
    padding-left: 10px;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .text__big {
      font-size: 64px;
    }

    .section--title {
      padding: 25px;
    }
  }