.projectCard {
    box-shadow: 0px 10px 10px -3px var(--lightGrey);
    width: 400px;
    transition: transform 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectCard:hover {
    transform: scale(1.05);
}

.projectCard--img {
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.projectCard--type {
    margin: 0;
    margin-top: 10px;
}

.projectCard--name {
    padding-top: 10px;
    padding-bottom: 0;
}

.projectCard--desc {
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectCard--content {
    padding: 10px;
    align-items: flex-start; 
}

.project--tags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.projectCard--tags p {
    margin: 0;
}

.modal--header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal--titles {

}

.modal--tags {
    padding: 0px;
}

.modal--tags p {
    
}

.modal--subheading {
    padding-bottom: 10px;
}